system/system/priv-app/AREmoji/AREmoji.apk
system/system/priv-app/DualOutFocusViewer_Effect_lite/DualOutFocusViewer_Effect_lite.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/Velvet/Velvet.apk
system/system/app/Chrome/Chrome.apk
